@inject IRepositorio repositorio
<EditForm Model="Pelicula" OnValidSubmit="OnDataAnnotationsValidated">
    <!--Armar los datos de la pelicula que serán enviadas al servidor-->
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Titulo:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Titulo"></InputText>
            <ValidationMessage For="@(() => Pelicula.Titulo)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-3">
        <label>En Cartelera:</label>
        <div>
            <InputCheckbox @bind-Value="@Pelicula.EnCartelera" />
            <ValidationMessage For="@(() => Pelicula.EnCartelera)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-3">
        <label>Trailer:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Trailer"></InputText>
            <ValidationMessage For="@(() => Pelicula.Trailer)"></ValidationMessage>
        </div>
    </div>
    <div class="mb-3">
        <label>Fecha de Lanzamiento:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Pelicula.Fecha_de_lanzamiento" />
            <ValidationMessage For="@(() => Pelicula.Fecha_de_lanzamiento)"></ValidationMessage>
            <input type="date" />
        </div>
    </div>
    <div class="mb-3">
        <InputImg label="Foto" ImagenSeleccionada="ImagenSeleccionada" ImagenURL="@imagenURL" />
    </div>
    <div class="mb-3 form-markdown">
        <InputMarkDown @bind-Value="@Pelicula.Resumen"
                       For=@(() => Pelicula.Resumen)
                       Label="Resumen" />
    </div>

    <div class="mb-3">
        <label>Géneros:</label>
        <div>
            <!---->
            <SelectorMultiple NoSeleccionados="NoSeleccionados" Seleccionados="Seleccionados"></SelectorMultiple>
        </div>
    </div>
    <div class="mb-3">
        <label>Actores:</label>
        <div>
            <SelectorMultipleTypeahead Context="Actores" SearchMethod="BuscarActores" ElementosSeleccionados="ActoresSeleccionados">
                <MyListTemplateItem>@Actores.Nombre / <input type="text" placeholder="Personaje" @bind="Actores.Personaje" /></MyListTemplateItem>
                <MyResultTemplate><img style="width: 49px" src="@Actores.Foto" /> @Actores.Nombre</MyResultTemplate>
            </SelectorMultipleTypeahead>
        </div>
    </div>
    <button class="btn btn-success">Guardar Cambios</button>
</EditForm>



@code {
    string? imagenURL;
    [Parameter]
    [EditorRequired]
    public BlazorPeliculas Pelicula { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }
    protected override void OnInitialized()
    {
        //Si el actor ya tiene su foto, indicamos que no es necesario estar mandando la foto del actor cada que este sea editado
        if (!string.IsNullOrEmpty(Pelicula.poster))
        {
            imagenURL = Pelicula.poster;
            Pelicula.poster = null;
        }
        Seleccionados = GenerosSeleccionados.Select(x => new SelectorMultipleModel(x.Id.ToString(), x.Nombre)).ToList();
        NoSeleccionados = GenerosNoSeleccionados.Select(x => new SelectorMultipleModel(x.Id.ToString(), x.Nombre)).ToList();

    }
    //Mandar la imagen seleccionada al servidor para que el actor sea actualizado
    private void ImagenSeleccionada(string imagenBase64)
    {
        Pelicula.poster = imagenBase64;
        imagenURL = null;
    }

    [Parameter]
    public List<Genero> GenerosSeleccionados { get; set; } = new List<Genero>();

    [Parameter]
    [EditorRequired]
    public List<Genero> GenerosNoSeleccionados { get; set; } = new List<Genero>();

    [Parameter]
    [EditorRequired]
    public List<Actores> ActoresSeleccionados { get; set; } = new List<Actores>();
    //Creamos un listado de selector multiple viewmodel para pasarselo al componente de Generos
    private List<SelectorMultipleModel> Seleccionados { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> NoSeleccionados { get; set; } = new List<SelectorMultipleModel>();

    //Funcion para buscar actores donde recibe el string del searchtext
    private async Task<IEnumerable<Actores>> BuscarActores(string searchText)
    {
        var respuestaHTTP = await repositorio.Get<List<Actores>>($"api/actores/buscar/{searchText}");
        return respuestaHTTP.Response;
    }
    //Recolectar los datos que el usuario esta llenando en el formulario
    private async Task OnDataAnnotationsValidated()
    {
        //Enviamos los generos de la pelicula hacia el servidor 
        Pelicula.GenerosPelicula = Seleccionados.Select(x => new GeneroPelicula { GeneroId = int.Parse(x.Llave) }).ToList();
        Pelicula.PeliculasActor = ActoresSeleccionados.Select(x => new PeliculaActor { ActorId = x.Id, Personaje = x.Personaje }).ToList();
        await OnValidSubmit.InvokeAsync();
    }
}






